.icon-green {
    color: green;
}
.icon-orange {
    color: orange;
}
.icon-blue {
    color: blue;
}
.icon-red {
    color: red;
}
.icon-deeppink {
    color: deeppink;
}
.icon-purple {
    color: purple;
}

.icon-quote-grey{
    color: gainsboro;
}