@mixin common-section {
    max-width: 100em;
    margin: 0 auto;
}
body,
section,
form,
header,
ul,
li,
input,
button,
img {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: normal;
}
.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
h3 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2;
}
h4 {
    font-size: 1.2em;
    font-weight: normal;
}
section.hero {
    @include common-section();
    background-image: url("../img/hero.png");
    background-size: cover;
    header {
        img {
            float: left;
            width: 150px;
            margin: 1em 0 0 1em;
        }
        ul {
            margin: 1em 1em 0 0;
            float: right;
            li {
                font-size: 1.4em;
                list-style: none;
                float: left;
                margin-left: 2em;
                padding: .3em;
                border-radius: 4px;
            }
            &:last-child {
                border: 1px solid white;
            }
        }
    }
    h1 {
        font-size: 4em;
        color: white;
        text-align: center;
        padding-top: 3em;
        clear: both;
    }
    h2 {
        font-size: 2em;
        color: white;
        text-align: center;
    }
    form {
        text-align: center;
        padding-bottom: 20em;
        input {
            width: 20em;
            height: 2em;
            background: rgba(255, 255, 255, .8);
        }
        button {
            width: 5em;
            height: 2em;
            background-color: skyblue;
            padding: .5em;
        }
    }
}
section.numbers {
    @include common-section;
    position: relative;
    top: -8em;
    ul {
        li {
            font-size: 1.4em;
            list-style: none;
            float: left;
            width: 24%;
            text-align: center;
            background: white;
            height: 10em;
            padding-top: 2em;
            border: 1px solid grey;
            &:last-child:after {
                display: none;
            }
        }
        margin:0 10%;
    }
}
section.how-it-works {
    @include common-section();
    text-align: center;
    padding-bottom: 5em;
    border-bottom: 2px solid #ccc;
    h2:after {
        content: "";
        display: block;
        background: #ccc;
        width: 2em;
        margin: 0 auto;
        margin-top: .2em;
        height: 2px;
    }
    ol {
        margin-top: 5em;
        text-align: center;
        li {
            width: 30%;
            list-style: none;
            float: left;
            div {
                border: solid 1px black;
                width: 2em;
                height: 2em;
                border-radius: 2em;
                line-height: 2em;
                margin: 0 auto;
                margin-bottom: 20px;
                position: relative;
                &:after {
                    content: "";
                    background: #ccc;
                    height: 2px;
                    width: 100%;
                    margin: 0 auto;
                    top: 1em;
                    right: -2em;
                    position: absolute;
                }
                //                &:last-child{
                //                    display: none;
                //                }

            }
        }
    }
}