body,section,form,header,ul,li,input,button,img {
    margin: 0;
    padding: 0;
    border: 0;
}

section {
    max-width: 1000px;
    height: 600px;
    background-image: url("../hero.png");
    background-size: cover;
}

ul {
    float: right;
}
